HeliosEsercizio/Futuro/Web References/WS_Autenticazione/WSAutenticazione.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/WSAUTENTICAZIONE/wsAutenticazione" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://tempuri.org/WSAUTENTICAZIONE/wsAutenticazione" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/WSAUTENTICAZIONE/wsAutenticazione">
      <s:element name="EseguiAutenticazione">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EseguiAutenticazioneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EseguiAutenticazioneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EseguiAutenticazioneSoapIn">
    <wsdl:part name="parameters" element="tns:EseguiAutenticazione" />
  </wsdl:message>
  <wsdl:message name="EseguiAutenticazioneSoapOut">
    <wsdl:part name="parameters" element="tns:EseguiAutenticazioneResponse" />
  </wsdl:message>
  <wsdl:portType name="wsAutenticazioneSoap">
    <wsdl:operation name="EseguiAutenticazione">
      <wsdl:input message="tns:EseguiAutenticazioneSoapIn" />
      <wsdl:output message="tns:EseguiAutenticazioneSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsAutenticazioneSoap" type="tns:wsAutenticazioneSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EseguiAutenticazione">
      <soap:operation soapAction="http://tempuri.org/WSAUTENTICAZIONE/wsAutenticazione/EseguiAutenticazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAutenticazione">
    <wsdl:port name="wsAutenticazioneSoap" binding="tns:wsAutenticazioneSoap">
      <soap:address location="http://192.168.0.30/WSAutenticazione/WSAutenticazione.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>