WebServices/WSHELIOSPRIVATO2010/Service References/VerificaTokenSPID/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="userInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountyOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FiscalNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaceOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spidcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userInfo" nillable="true" type="tns:userInfo" />
  <xs:complexType name="AuthRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthReq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthnReqID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthnReqIssueIstant" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthRequest" nillable="true" type="tns:AuthRequest" />
  <xs:complexType name="RespProvider">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assertion_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Assertion_subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Assertion_subject_NameQualifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthnReq_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resp_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resp_IssueInstan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resp_Issuer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespProvider" nillable="true" type="tns:RespProvider" />
</xs:schema>