WebServices/WSHELIOSPRIVATO2010/Service References/VerificaTokenSPID/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intranet/wsSpid/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="saveUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="u" nillable="true" type="q1:userInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveUserInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="t" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getUserInfoResult" nillable="true" type="q2:userInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="t" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserCFResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAuthReq">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="a" nillable="true" type="q3:AuthRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAuthReqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveAuthReqResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveResp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="r" nillable="true" type="q4:RespProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveRespResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveRespResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>