DomandaOnLine/DomandeOnline/Connected Services/Email/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intranet/WsAnagrafe/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="emailNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indiOri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indiDest" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oggetto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="corpo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filetosend" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="produzione" type="xs:boolean" />
        <xs:element minOccurs="0" name="CC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isHtmlMail" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="emailNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailNewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="email">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indiOri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indiDest" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oggetto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="corpo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filetosend" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="produzione" type="xs:boolean" />
        <xs:element minOccurs="0" name="CC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="emailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>